<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<!-- 
	  -- Include references to stylesheets and scripts here, using the path_to() function
	  -- to get relative paths to the files. The paths are relative to the site root. 
	  -->
	
</head>
<body>
	
	<!-- Wrap your style around the content variable -->
	<%= content %>
	
</body>
</html>
